{% extends 'index.html' %}

{% block content %}

<div class="p-5">

  <h1>Details of event {{event.title}}</h1>
<div class="card" style="width: 18rem;">
    <img src="{{event.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{event.title}}</h5>

      <p class="card-text">{{event.category}}</p>
      <p class="card-text">{{event.nbr_participant}}</p>

      <p class="card-text">{{event.description}}</p>
      <a href="#" class="btn btn-primary">see details</a>
    </div>
  </div>
</div>
{% endblock %}